# Discord Bot token https://discord.com/developers/applications
DISCORD_BOT_TOKEN=

# Unofficial OpenAI ChatGPT authentication (only Plus acoount) # https://chat.openai.com/api/auth/session
PUID=
ACCESS_TOKEN=

# Official OpenAI API authentication
OPENAI_API_KEY=

# Bard session_id(__Secure-1PSID and __Secure_1PSIDTS)
BARD_SECURE_1PSID=
BARD_SECURE_1PSIDTS=

# ----------------------- #
# Optional setting

# CHAT_MODEL option: OFFICIAL, UNOFFICIAL, Bard, Bing
CHAT_MODEL=OFFICIAL
# GPT_ENGINE option: ['gpt-3.5-turbo', 'gpt-3.5-turbo-16k', 'gpt-3.5-turbo-0301', 'gpt-3.5-turbo-0613', 'gpt-3.5-turbo-16k-0613', 'gpt-4', 'gpt-4-0314', 'gpt-4-32k', 'gpt-4-32k-0314', 'gpt-4-0613', 'gpt-4-32k-0613']
GPT_ENGINE=gpt-3.5-turbo
LOGGING=True
REPLYING_ALL=False
# Channel using to send the starting-prompt
DISCORD_CHANNEL_ID=
REPLYING_ALL_DISCORD_CHANNEL_ID=

# Enable auto-login for Google Bard and Microsoft Bing to fetch cookies
# Version of your chrome browser
chrome_version=

# Add auto-login for Microsoft Bing, fill in your Microsoft Bing account and password
bing_enable_auto_login=False # True/False
bing_account=
bing_password=

# Add auto-login for Google Bard, fill in your Microsoft Bing account and password
# NOTICE!!! AUTO-LOGIN ONLY WORKS FOR GOOGLE ACCOUNT THAT DOES NOT HAVE 2FA
bard_enable_auto_login=False # True/False
google_account=
google_password=
# ----------------------- #